Repository united-manufacturing-hub/united-manufacturing-hub: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/build-and-push-factoryinsight.yml, .azure-pipelines/build-and-push-sensorconnect.yml

.azure-pipelines/build-and-push-factoryinsight.yml:
  stages:
  - stage: Build
    displayName: Build and push stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build 'factoryinsight'
        inputs:
          command: buildAndPush
          repository: factoryinsight
  ...

.azure-pipelines/build-and-push-sensorconnect.yml:
  stages:
  - stage: Build
    displayName: Build and push stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build 'sensorconnect'
        inputs:
          command: buildAndPush
          repository: sensorconnect
  ...

changed diagram
  docs/content/en/docs/Concepts/dataprocessing.png
  docs/content/en/docs/Concepts/dataprocessing.svg
Due: none

Proofread and optimized
  docs/content/en/docs/Concepts/open-source-industrial-iot/PIA23962_modest.jpg
  docs/content/en/docs/Concepts/open-source-industrial-iot/christopher-burns-8KfCR12oeUM-unsplash.jpg
  docs/content/en/docs/Concepts/open-source-industrial-iot/dashboard_nice.png
  docs/content/en/docs/Concepts/open-source-industrial-iot/index.md
Due: none

Added article Open source in Industrial IoT
  docs/content/en/docs/Concepts/open-source-industrial-iot/PIA23962_modest.jpg
  docs/content/en/docs/Concepts/open-source-industrial-iot/christopher-burns-8KfCR12oeUM-unsplash.jpg
  docs/content/en/docs/Concepts/open-source-industrial-iot/dashboard_nice.png
  docs/content/en/docs/Concepts/open-source-industrial-iot/index.md
Due: none

Adusted architecture diagram to contain multiple edge devices (#258)
  docs/content/en/docs/Concepts/dataprocessing.png
  docs/content/en/docs/Concepts/dataprocessing.svg
Due: none

Updating networking part of the documentation (#246)
  README.md
  docs/content/en/docs/Getting started/usage-in-production/index.md
  docs/content/en/docs/Getting started/usage-in-production/networking_machineconnect.png
  docs/content/en/docs/Getting started/usage-in-production/networking_machineconnect.svg
Due: none

Added MQTT messages
  docs/content/en/docs/Concepts/mqtt/index.md
Due: none

Changed database
  deployment/timescaledb/1-database.sql
  deployment/timescaledb/migrations.sql
  docs/content/en/docs/Concepts/mqtt/index.md
Due: none

Adjusted MQTT docs
  docs/content/en/docs/Concepts/mqtt/index.md
Due: none

Fixes #263
  sensorconnect/src/iodd_files/ifm-0001A7-20160303-IODD1.1.xml
  sensorconnect/src/iodd_files/ifm-000442-20181113-IODD1.1.xml
  sensorconnect/src/main.py
Due: .azure-pipelines/build-and-push-sensorconnect.yml

working
  deployment/sensorconnect/docker-compose.yml
  sensorconnect/src/iodd_files/ifm-0001A7-20160303-IODD1.1.xml
Due: .azure-pipelines/build-and-push-sensorconnect.yml

Hotfix for #264
  sensorconnect/src/main.py
Due: .azure-pipelines/build-and-push-sensorconnect.yml

Add additional sensors hotfix (#265)
  deployment/sensorconnect/docker-compose.yml
  sensorconnect/src/iodd_files/ifm-0001A7-20160303-IODD1.1.xml
  sensorconnect/src/main.py
Due: .azure-pipelines/build-and-push-sensorconnect.yml

Fixed #266
  docs/content/en/docs/Tutorials/pki/index.md
Due: none

Fixed #207
  docs/content/en/docs/Getting started/setup-development/index.md
  docs/content/en/docs/Tutorials/add-username-password-authentification-k3os-ssh/index.md
Due: none

Fixes #271
  docs/content/en/docs/Getting started/setup-development/index.md
  docs/content/en/docs/Getting started/usage-in-production/index.md
Due: none

updated
  docs/content/en/docs/Concepts/mqtt/dataflow_imagedata
  docs/content/en/docs/Concepts/mqtt/index.md
Due: none

updated
  docs/content/en/docs/Concepts/mqtt/dataflow_imagedata
  docs/content/en/docs/Concepts/mqtt/dataflow_imagedata.png
  docs/content/en/docs/Concepts/mqtt/index.md
Due: none

Changed imagePullPolicy and updated tags
  deployment/factorycube-edge/templates/barcodereader-Deployment.yaml
  deployment/factorycube-edge/templates/mqttbridge-Deployment.yaml
  deployment/factorycube-edge/templates/nodered-StatefulSet.yaml
  deployment/factorycube-edge/values.yaml
  deployment/factorycube-server/Chart.yaml
  deployment/factorycube-server/values.yaml
Due: none

enabled offline mode
  deployment/factorycube-edge/Chart.yaml
  deployment/factorycube-edge/templates/barcodereader-Deployment.yaml
  deployment/factorycube-edge/templates/nodered-StatefulSet.yaml
  deployment/factorycube-edge/templates/sensorconnect-Deployment.yaml
Due: none

updated server
  deployment/factorycube-server/Chart.yaml
  deployment/factorycube-server/values.yaml
Due: none

Made ready for production Added function to disable LaodBalancer and use ingress (e.g., in public environments) Fixed #283
  deployment/factorycube-server/templates/_helpers.tpl
  deployment/factorycube-server/templates/factoryinsight-deployment.yaml
  deployment/factorycube-server/templates/factoryinsight-ingress.yaml
  deployment/factorycube-server/templates/factoryinsight-secret.yaml
  deployment/factorycube-server/templates/grafana-secret.yaml
  deployment/factorycube-server/templates/nodered-ingress.yaml
  deployment/factorycube-server/templates/nodered-service.yaml
  deployment/factorycube-server/values.yaml
Due: none

Fixed #283 Part 2
  golang/cmd/factoryinsight/main.go
Due: .azure-pipelines/build-and-push-factoryinsight.yml

Added documentation on AWS EKS setup
  docs/content/en/docs/Getting started/usage-in-production/index.md
Due: none

Path conditions:
  .azure-pipelines/build-and-push-factoryinsight.yml: any of: golang/cmd/factoryinsight, golang/test/factoryinsight, golang/internal, golang/pkg, golang/vendor, golang/go.mod, golang/go.sum
  .azure-pipelines/build-and-push-sensorconnect.yml: any of: sensorconnect
