Repository united-manufacturing-hub/united-manufacturing-hub: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/build-and-push-factoryinsight.yml, .azure-pipelines/build-and-push-sensorconnect.yml

.azure-pipelines/build-and-push-factoryinsight.yml:
  stages:
  - stage: Build
    displayName: Build and push stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build 'factoryinsight'
        inputs:
          command: buildAndPush
          repository: factoryinsight
  ...

.azure-pipelines/build-and-push-sensorconnect.yml:
  stages:
  - stage: Build
    displayName: Build and push stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build 'sensorconnect'
        inputs:
          command: buildAndPush
          repository: sensorconnect
  ...

Moved Dockerfile to correct folder
  deployment/barcodereader/Dockerfile
Due: none

Update architecture.md
  docs/edge/architecture.md
Due: none

Fixes /currentState does not convert data from old model into new one #44
  golang/cmd/factoryinsight/database.go
Due: .azure-pipelines/build-and-push-factoryinsight.yml

First draft for contributing
  CONTRIBUTING.md
Due: none

Changed versioning according to latest discussion
  CONTRIBUTING.md
Due: none

0.1.0 (#55)
  deployment/barcodereader/Dockerfile
  golang/cmd/factoryinsight/database.go
  golang/cmd/factoryinsight/dataprocessing.go
  golang/cmd/factoryinsight/dataprocessing_shifts.go
  golang/internal/cache.go
  golang/pkg/datamodel/stateModel.go
  golang/pkg/datamodel/stateModelString.go
Due: .azure-pipelines/build-and-push-factoryinsight.yml

Updated according to latest discussion
  CONTRIBUTING.md
Due: none

Update SECURITY.md
  SECURITY.md
Due: none

First draft on CONTRIBUTING.md (#50)
  CONTRIBUTING.md
Due: none

updated readme and license
  LICENSE
  README.md
  docs/examples/images/CNC.png
  docs/examples/images/DCC.png
  docs/examples/images/brewery.png
  docs/examples/images/flame-cutting.png
  docs/examples/images/pharma-packaging.png
  docs/examples/images/semiconductor.png
  docs/examples/images/weaving.png
  docs/examples/overview.md
  docs/getting-started.md
  docs/images/Logo UMH primary.svg
  docs/images/Otto.svg
  docs/images/dashboard.gif
  docs/images/iiot-stack.svg
Due: none

First draft for getting started + new images
  docs/edge/factorycube.md
  docs/edge/getting-started.md
  docs/edge/images/nodered.png
  docs/images/cubi.png
  docs/images/factorycube.png
Due: none

added assembly Analytics
  docs/edge/getting-started.md
  docs/edge/images/nodered_assemblyanalytics.png
  docs/edge/images/nodered_general.png
  docs/examples/flows/AssemblyAnalytics.json
Due: none

rdb.Set() fails for unknown reason Fixes #61
  golang/internal/cache.go
Due: .azure-pipelines/build-and-push-factoryinsight.yml

rdb.Set() fails for unknown reason (#62)
  golang/internal/cache.go
Due: .azure-pipelines/build-and-push-factoryinsight.yml

Added example cases
  .vscode/settings.json
  README.md
  docs/edge/getting-started.md
  docs/examples/dcc-assembly-analytics.md
  docs/examples/dcc-quality-check.md
  docs/examples/flame-cutting.md
  docs/examples/images/DCC-assembly-analytics.jpg
  docs/examples/images/dcc-quality-check/picture1.jpg
  docs/examples/images/dcc-quality-check/picture2.jpg
  docs/examples/images/dcc-quality-check/picture3.jpg
  docs/examples/images/flame-cutting/autogen1.jpg
  docs/examples/images/flame-cutting/strahlanlage.png
  docs/examples/images/products/barcode_1.jpg
  docs/examples/images/products/buttons.png
  docs/examples/images/products/camera.jpg
  docs/examples/images/products/factorycube.png
  docs/examples/images/products/gateway.png
  docs/examples/images/products/lightbarrier_1.png
  docs/examples/images/products/proximity_1.jpg
  docs/examples/overview.md
Due: none

Smaller adjustments
  docs/edge/getting-started.md
  docs/edge/networking.md
  docs/examples/dcc-assembly-analytics.md
Due: none

Added getting started
  README.md
  docs/edge/getting-started.md
  docs/getting-started.md
  docs/server/getting-started.md
Due: none

Output added and small changes
  docs/edge/getting-started.md
  docs/edge/images/nodered_inputs.png
  docs/edge/images/nodered_outputs.png
  docs/edge/images/nodered_testing.png
  docs/examples/flows/standard_flow.json
Due: none

finalized getting-started
  docs/edge/getting-started.md
Due: none

Added semiconductor
  docs/examples/dcc-assembly-analytics.md
  docs/examples/dcc-quality-check.md
  docs/examples/flame-cutting.md
  docs/examples/images/semiconductor/Proximity3.jpg
  docs/examples/images/semiconductor/UltraschallAusrichtung2.jpg
  docs/examples/images/semiconductor/dashboard.png
  docs/examples/semiconductor.md
Due: none

Updated flame cutting
  docs/examples/flame-cutting.md
  docs/examples/images/flame-cutting/dashboard_1.png
  docs/examples/images/flame-cutting/dashboard_2.png
  docs/examples/images/flame-cutting/dashboard_3.png
  docs/examples/images/flame-cutting/dashboard_4.png
  docs/examples/images/flame-cutting/dashboard_nice.png
Due: none

Added brewery
  docs/examples/brewery.md
  docs/examples/flame-cutting.md
  docs/examples/images/brewery/dashboard_1.png
  docs/examples/images/brewery/dashboard_2.png
  docs/examples/images/brewery/dashboard_3.png
  docs/examples/images/brewery/dashboard_nice.png
Due: none

Jeremy (#64)
  docs/examples/brewery.md
  docs/examples/dcc-assembly-analytics.md
  docs/examples/dcc-quality-check.md
  docs/examples/flame-cutting.md
  docs/examples/images/brewery/dashboard_1.png
  docs/examples/images/brewery/dashboard_2.png
  docs/examples/images/brewery/dashboard_3.png
  docs/examples/images/brewery/dashboard_nice.png
  docs/examples/images/flame-cutting/dashboard_1.png
  docs/examples/images/flame-cutting/dashboard_2.png
  docs/examples/images/flame-cutting/dashboard_3.png
  docs/examples/images/flame-cutting/dashboard_4.png
  docs/examples/images/flame-cutting/dashboard_nice.png
  docs/examples/images/semiconductor/Proximity3.jpg
  docs/examples/images/semiconductor/UltraschallAusrichtung2.jpg
  docs/examples/images/semiconductor/dashboard.png
  docs/examples/semiconductor.md
Due: none

Added cases and TODOs
  docs/edge/architecture.md
  docs/examples/cnc-milling.md
  docs/examples/dcc-assembly-analytics.md
  docs/examples/dcc-quality-check.md
  docs/examples/flame-cutting.md
  docs/examples/images/dcc-assembly-analytics/1.png
  docs/examples/images/dcc-assembly-analytics/2.png
  docs/examples/images/dcc-assembly-analytics/3.png
  docs/examples/images/dcc-assembly-analytics/4.png
  docs/examples/images/dcc-assembly-analytics/5.png
  docs/examples/images/dcc-assembly-analytics/6.png
  docs/examples/images/dcc-assembly-analytics/7.png
  docs/examples/images/dcc-assembly-analytics/8.png
  docs/examples/images/dcc-assembly-analytics/9.png
  docs/examples/images/dcc-quality-check/DIAGRAM.png
  docs/examples/images/products/vtv122.png
  docs/examples/overview.md
  docs/examples/pharma-packaging.md
  docs/examples/weaving.md
  docs/general/dataprocessing.md
  docs/getting-started.md
  docs/server/FAQ.md
  docs/server/factoryinsight/openapi/factoryinsight.yml
Due: none

Update README.md
  README.md
Due: none

Added template for documenting docker containers
  docs/templates/docker_container_doc.md
Due: none

Added barcodereader
  barcodereader/.gitignore
  barcodereader/README
  barcodereader/README.md
  barcodereader/src/main.py
  deployment/barcodereader/Dockerfile
  docs/edge/architecture.md
  docs/edge/barcodereader.md
Due: none

Added documentation
  deployment/factoryinsight/docker-compose-factoryinsight-development.yml
  deployment/mqtt-to-postgresql/docker-compose-mqtt-to-postgresql-development.yml
  deployment/sensorconnect/docker-compose.yml
  docs/edge/architecture.md
  docs/edge/sensorconnect.md
  docs/server/architecture.md
  docs/server/factoryinsight.md
  docs/server/mqtt-to-postgresql.md
  sensorconnect/README
Due: .azure-pipelines/build-and-push-sensorconnect.yml

Update
  docs/server/factoryinsight/openapi/factoryinsight.yml
  golang/cmd/factoryinsight/database.go
  golang/cmd/factoryinsight/http.go
Due: .azure-pipelines/build-and-push-factoryinsight.yml

added availability, performance and oee
  docs/server/factoryinsight/openapi/factoryinsight.yml
  golang/cmd/factoryinsight/http.go
Due: .azure-pipelines/build-and-push-factoryinsight.yml

Path conditions:
  .azure-pipelines/build-and-push-factoryinsight.yml: any of: golang/cmd/factoryinsight, golang/test/factoryinsight, golang/internal, golang/pkg, golang/vendor, golang/go.mod, golang/go.sum
  .azure-pipelines/build-and-push-sensorconnect.yml: any of: sensorconnect
